<div>
    <!--Tabla-->
    <header>
        <h2>Todos</h2>
    </header>

    <!-- Pintamos una caja de texto para filtrar por autor. -->
    <form class="form-inline">
        <div class="form-group">
            <label for="filtroAutor">Autor del post</label>
            <input type="text" id="filtroAutor" ng-model="filtroPorAutor" />
        </div>
    </form>

    <!--Creamos una caja de texto para filtrar por autor-->
    <!--
    <input type="text" ng-model="filtroPorAutor"/>
    -->

    <table class="table">
        <!--filas-->

        <!--Usamos la directiva en el elemento <tr>. Utilizamos la directiva elemento-post-->
        <tr ng-repeat="post in posts | filter:{ author: filtroPorAutor }"
                elemento-post
                on-post-click="navegar(idPost)"
                post="post"> <!--Estoy pasando el element post a la directiva-->

            <!--Celdas-->
            <!--Con la directiva ng-if pintamos el elemento que la usa cuando su contenido
            <!--resuelve como true-->


            <!--Me he llevado el contenido del TR a la vista elementoPost.html para usarla en
             la directiva elementoPost.js (1)

            <td>
                <img ng-src="{{post.image_url}}" ng-if="post.image_url" alt="Imagen" width="64" class="img-rounded"/>
            </td>
            <td>
                <div>{{ post.text }}</div>

                <div>
                    <small>{{ post.author | firma:post.created}}</small>
                </div>
            </td>
            <td>
                <button class="btn btn-primary" type="button" ng-click="MeGusta(post)">
                    Me gusta <span class="badge">{{ post.likes }}</span>
                </button>

                ESTO ES UN COMENTARIO QUE FALTA CERRAR: <!--Me gusta: {{ post.likes }}</td>
            </td>
            <td>
                <button class="btn btn-danger" type="button" ng-click="NoMeGusta(post)">
                    No me gusta <span class="badge">{{ post.dislikes }}</span>
                </button>

               ESTO ES UN COMENTARIO QUE FALTA CERRAR: <!--No me gusta: {{ post.dislikes }}</td>
            </td>

            Comentario de la directiva (1)-->

        </tr>

    </table>
</div>