<!-- Este artículo hace referencia a los detalles del post -->
<article>

    <header>

        <button class="btn btn-link" ng-click="volver()">
            Volver
        </button>

    </header>

    <img ng-src="{{ ::post.image_url }}" alt="Imagen" class="img-circle" width="250" />
    <h4>{{ ::post.text }}</h4>
    Me gusta <spam class="badge">{{::post.likes}}</spam>
    No Me gusta <spam class="badge">{{::post.dislikes}}</spam>

    <footer>
        <small>{{ ::post.author | firma:post.created }}</small>
    </footer>
</article>

<!--Este div hace referencia a los comentarios del post-->
<div>
    <header>
        <h4>Comentarios</h4>
    </header>
    <!--Formulario para añadir comentario-->
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="texto-comentario">Email address</label>
            <input type="text" class="form-control" id="texto-comentario" placeholder="Escribe tu comentario..." ng-model="comentario">
        </div>
        <button type="submit" class="btn btn-default" ng-click="enviarComentario()">Enviar</button>
    </form>

    <!--Coleccion de comentrarios-->
    <div class="list-group">
        <a href="#" class="list-group-item" ng-repeat="comentario in post.comments">
            <h4 class="list-group-item-heading">{{ ::comentario.text }}</h4>
            <p class="list-group-item-text"> - {{ ::comentario.author | firma:comentario.created }}</p>
        </a>
    </div>

</div>


